#=========================================================
# PROVIDER OMEGA
#=========================================================
PROVIDER_OMEGA_CLIENT_ID=""
PROVIDER_OMEGA_TENANT_ID=""
PROVIDER_OMEGA_SCOPE=""
PROVIDER_OMEGA_CERT_FILENAME=omega_auth_cert.pfx
PROVIDER_OMEGA_CERT_PASSWORD=

# ------------------------------------------
# PROVIDER ZETA
# ------------------------------------------
PROVIDER_ZETA_CLIENT_ID = ""
PROVIDER_ZETA_CLIENT_SECRET = ""


# ------------------------------------------
# PROVIDER DELTA
# ------------------------------------------
PROVIDER_DELTA_CLIENT_ID = ""
PROVIDER_DELTA_CLIENT_SECRET = ""


# ------------------------------------------
# PROVIDER GAMMA
# ------------------------------------------
PROVIDER_GAMMA_CLIENT_ID = ""
PROVIDER_GAMMA_CLIENT_SECRET = ""
PROVIDER_GAMMA_TOKEN_URL = ""
PROVIDER_GAMMA_API_URL_BASE = ''


# ------------------------------------------
# PROVIDER ALPHA
# ------------------------------------------
PROVIDER_ALPHA_API_KEY = ""

# ------------------------------------------
# PROVIDER EPSILON
# ------------------------------------------
PROVIDER_EPSILON_API_KEY = ""

# ------------------------------------------
# PROVIDER BETA
# ------------------------------------------
PROVIDER_BETA_CLIENT_ID = ""
PROVIDER_BETA_CLIENT_SECRET = ""
